# ── MongoDB (AuthService)
MONGO_USERNAME=root
MONGO_PASSWORD=your_mongo_root_password_here
MONGO_DB=ERPAuthDb

# ── MongoSettings (AuthService)
MongoSettings__RootConnectionString=mongodb://${MONGO_USERNAME}:${MONGO_PASSWORD}@mongo:27017/?authSource=admin
MongoSettings__AppUsername=erp_auth_user
MongoSettings__AppPassword=your_mongo_app_password_here
MongoSettings__DatabaseName=${MONGO_DB}
MongoSettings__ConnectionString=mongodb://${MongoSettings__AppUsername}:${MongoSettings__AppPassword}@mongo:27017/${MONGO_DB}?authSource=admin

# ── JWT (shared between Gateway and AuthService)
JWT__Secret=your_jwt_secret_key_here
JWT__Issuer=ERP.AuthService
JWT__Audience=ERP.Client

# ── Kafka
Kafka__BootstrapServers=kafka:9092
KAFKA_CLUSTER_ID=your_kafka_cluster_id_here

# ── SQL Server
SQLSERVER__SA_PASSWORD=your_sql_sa_password_here

# ── Redis
ConnectionStrings__REDIS=redis:6379
REDIS_PASSWORD=your_redis_password_here

# ── ASP.NET environment
ASPNETCORE_ENVIRONMENT=Docker


# hope find it useful:
# replay/republish events
# docker exec -it kafka-local bash -c "echo '1ac54a43-14c2-4bfa-9493-773e8e2fac8a:{\"tenantId\":\"1ac54a43-14c2-4bfa-9493-773e8e2fac8a\",\"slug\":\"acme\"}' | kafka-console-producer --bootstrap-server localhost:9092 --topic tenant.deleted --property parse.key=true --property key.separator=:"